@import "../../scss/colors.scss";

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
	padding: 1rem;
}

.plusIcon {
  cursor: pointer;
  height: 6.4rem;
  width: 6.4rem;
}

.minusIcon {
  cursor: pointer;
  height: 6.4rem;
  width: 6.4rem;
}

.fmLogo {
  width: 28rem;
  border-radius: 50%;
	border: 5px solid; 
	border-color: $lighterGray;
}
