@import "../../scss/colors.scss";

.header {
  border-radius: 40px 40px 0 0;
  background-color: $secondaryYellow;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 64rem;
  height: 16rem;
}

.icon {
	cursor: pointer;
  &:first-child {
    margin-left: 4rem;
  }

  &:last-child {
    margin-right: 4rem;
  }
}

.title {
  color: white;
  font-size: 4.4rem;
}
