@import "../../scss/colors.scss";

.stationList {
  display: flex;
  justify-content: space-between;
  color: $lighterGray;
  border-color: $lighterGray;
  border-bottom: 2px solid;
  padding: 1rem;
  cursor: pointer;
}
