@import "../../scss/colors.scss";

.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: $primaryGray;
  padding: 1rem;
  border-radius: 0 0 2rem 2rem;
  border-bottom: $darkerGray;
  width: 30rem;
  box-sizing: border-box;
  min-height: 7rem;
}

.title {
  color: $secondaryYellow;
}

.currentFM {
  color: $lighterGray;
}
