@import "../../scss/colors.scss";

.container {
  display: flex;
  flex-direction: column;
	justify-content:center;
  text-align: center;
  background-color: $primaryGray;
  padding: 2rem;
  border-radius: 0 0 4rem 4rem;
  border-bottom: $darkerGray;
  width: 64rem;
  box-sizing: border-box;
  height: 16rem;
}

.title {
  color: $secondaryYellow;
	font-size: 2.2rem;
	line-height: 4rem;
	font-weight: bold;
}

.currentFM {
  color: $lighterGray;
	font-size: 4.4rem;
	overflow: hidden;
	text-align: center;
	text-overflow: ellipsis;
	display: inline-block;
	line-height: 5rem;
}
